:root {
    --primary-font: "Montserrat", serif;
    --secondary-font: "Playball", serif;
    --tertiary-font: "Teko", serif;
    --quaternary-font: "Poppins", sans-serif;
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /* --line-height: 1.4; */
    --line-height: 1.7;
    --line-height-sm: 1.1;
    --line-height-smm: 1;
    --body: 17px;
    --nav-font: 18px;
    --nav-item-font: 15px;
    --nav-color: #1E1E1E;
    --nav-hover-color: #ed5001;
    --slider-heading: 58px;
    --slider-heading-a: 38px;
    --slider-heading-b: 32px;
    --heading: 24px;
    --heading-a: 68px;
    --heading-b: 30px;
    --heading-c: 38px;
    --heading-d: 75px;
    --heading-cmn: 28px;
    --blog-title: 28px;
    --blog-title-color: #8C8C8D;
    --blog-heading: 34px;
    --blog-heading-sub: 28px;
    --blog-heading-inner-sub: 22px;
    --blog-heading-lg: 50px;
    --detail-heading: 34px;
    --detail-heading-md: 28px;
    --detail-sub-heading: 48px;
    --detail-main-heading: 58px;
    --similar-heading-b: 24px;
    --blog-main-heading: 55px;
    --sub-heading: 22px;
    --heading-sm: 40px;
    --para-sub: 19px;
    --sub-heading-lg: 20px;
    --sub-heading-xl: 22px;
    --swipe-tab-font-size: 24px;
    --para-lg: 20px;
    --para: 18px;
    --para-md: 16px;
    --para-sm: 13px;
    --para-xs: 11px;


    --title-sm: 15px;
    --title-md: 20px;
    --title: 30px;
    --accordion-font-size: 20px;
    --form-font-size: 16px;
    --transition-speed: 0.3s;
    --color-one: #3A444A;
    --color-two: #ED5001;
    --color-three: #222831;
    --color-four: #FF6D01;
    --color-five: #737374;
    --bg-one: #3A444A;
    --bg-two: #ED5001;
    --bg-four: #FF6D01;
    --bg-five: #ef7c00;
    --bg-color-one: #FAFAFA;
    --bg-color-two: #D9D9D9;
    --bg-color-three: #F6F6F6;
    --white: #fff;
    --offwhite: #a5a5a5;
    --dark: #000;
    --info-year: 45px;
    --info-heading: 35px;
    --info-para: 18px;
    --title-smm: 20px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --box-shadow-one: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --slider-btn-bg: #F2F2F3;
    --slider-btn-color: #222831;
    --border-radius-xxs: 3px;
    --border-radius-0: 0;
    --border-radius-sm: 4px;
    --border-radius-smm: 6px;
    --border-radius-md: 10px;
    --border-radius-lg: 14px;
    --xxl-font-size: 60px;
    --btn-font-size: 16px;
    --btn-font-size-lg: 18px;
    --btn-font-size-xl: 24px;
    --btn-xs-font-size: 10px;
    --btn-sm-font-size: 13px;
    --btn-md-font-size: 14px;
    --btn-bg-primary: #1E1E1E;
    --btn-bg-primary-hover: #ED5001;
    --btn-bg-secondary: #1E1E1E;
    --btn-bg-secondary-hover: #ED5001;
    --btn-bg-color-one: #FF6D01;
    --body-color: #1E1E1E;
    --bg-dark-one: #1E1E1E;
    --h-bg-dark-one: #1E1E1E;
    --bg-dark-two: #111111;
    --footer-li-size: 18px;
    --para-light: #797878;
    --counter-font-size: 86px;
    --breadcrumb-heading-font: 65px;
    --breadcrumb-para-font: 18px;
    --breadcrumb-font: 18px;
    --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --th-font: 22px;
    --td-font: 16px;
    --info-heading-font: 15px;
    --form-border-color: #D8D7D7;
    --border-color: #D9D9D9;
    --border-color-one: #ececec;
    --r-h-font: 16px;
    --r-p-font: 13px;
    --nw-r-p-font: 16px;
    --card-border-color: rgba(243, 241, 241, 1);
    --table-border-strip-bg: #F7F7F7;
    --table-border-color: #EBE8E8;
    --table-font-size-one: 15px;
    --table-th-font-size: 22px;
    --table-th-small-font-size: 18px;
    --table-strip-bg: #F2F2F3;
    --box-shadow-one: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --tab-font: 16px;
    --control-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    --select-sm-font: 13px;
    --tab-title-font: 24px;
    --datepicker-font-size: 14px;
    --form-color: #8C8C8F;
    --table-header-bg: #393E46;
    --cursor-zoom: url("../../asset/icons/c-zoom-in.svg") 16 16, auto;
    --video-zoom: url("../../asset/icons/c-video-in.svg") 16 16, auto;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-weight: var(--font-medium);
    font-size: var(--body);
    color: var(--body-color);
    line-height: var(--line-height);
}